@use "../../../sass/abstracts/" as *;

.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq("medium") {
    display: none;
  }
}

.image {
  width: 2rem;
  height: 2rem;
  z-index: 100;

  & img {
    border-radius: 100%;
  }

  @include mq("small") {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.nameFlex {
  display: flex;
  align-items: center;
  color: $color-white;
  gap: 0.75rem;
}

.button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: $color-white;
  z-index: 100;
  width: 2.5rem;
  transition: 400ms;

  &.open {
    color: $color-shark;
  }
}

.nav {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: none;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  text-align: center;
  transition: 400ms;
  z-index: 10;

  & a {
    color: transparent;
    transition: 400ms;
  }

  &.open {
    visibility: visible;
    background-color: $color-white;

    & a {
      color: $color-shark;
    }
  }
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;

  & a {
    font-size: 1.25rem;
  }
}
