@use "../../../sass/abstracts/" as *;

.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq("medium") {
    display: none;
  }
}

.image {
  width: 2rem;
  height: 2rem;
  z-index: 100;

  & img {
    border-radius: 100%;
  }

  @include mq("small") {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.nameFlex {
  display: flex;
  align-items: center;
  color: $color-white;
  gap: 0.75rem;

  & * {
    font-size: 1.125rem;
  }
}

.button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: $color-white;
  z-index: 100;
  transition: 400ms;
  width: max-content;
  padding: 0;

  &.open {
    color: $color-shark;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: none;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  text-align: center;
  transition: 400ms ease all;
  z-index: 10;
  transform: translateX(100%);
  opacity: 0;
  display: block;

  & a {
    color: $color-shark;
  }

  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
  background-color: $color-white;

  & a {
    font-size: 1.25rem;
  }
}
