@use "../abstracts/" as *;

.container {
  padding: 0 1rem;
  max-width: 70rem;
  margin: 0 auto;

  @include mq("x-small") {
    padding: 0 1.5rem;
  }
}

.article-container {
  max-width: 65ch;
  margin: 0 auto 5rem auto;

  @include mq("small") {
    margin: 0 auto 8rem auto;
  }
}
