@use "../../sass/abstracts/" as *;

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: $color-shark;

  &:focus {
    outline: $color-medium-carmine 2px solid;
  }
}

.required {
  color: $color-medium-carmine;
}

.textarea {
  width: 100%;
  border: none;
  padding: 0.5rem;
  color: $color-shark;
  resize: vertical;

  &:focus {
    outline: $color-medium-carmine 2px solid;
  }
}
