@use "../../sass/abstracts/" as *;

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;
  color: $color-white;
  background-color: $color-mine-shaft;

  &:focus {
    outline: $color-burnt-umber 2px solid;
  }
}

.required {
  color: $color-medium-carmine;
}

.textarea {
  width: 100%;
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
  color: $color-white;
  background-color: $color-mine-shaft;
  resize: vertical;

  &:focus {
    outline: $color-burnt-umber 2px solid;
  }
}
