@use "../../../sass/abstracts/" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  width: 100%;
}

.formButton {
  width: max-content;
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
  align-items: center;
  padding-right: 1rem;

  &:hover {
    & svg {
      transform: translateX(0.3rem);
    }
  }

  & svg {
    transition: all 200ms ease-in-out;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.success {
  font-weight: 700;
}
