@use "../../../../sass/abstracts/" as *;

.item {
  padding-bottom: 2rem;
  color: $color-white;
  opacity: 0;
  transition: ease 400ms;
  background-color: $color-mine-shaft;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;

  & > div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.animate {
    opacity: 1;
  }
}

.name {
  margin-bottom: 0.5rem;

  & h2 {
    font-size: 1.5rem;
    font-weight: 600;

    @include mq("medium") {
      font-size: 1.75rem;
    }
  }
}

.link {
  & a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: $color-white;
    font-weight: 500;
    width: max-content;
    margin-top: 1rem;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
      transition: 300ms ease;
      color: $color-medium-carmine;
    }

    &:hover {
      & svg {
        transform: translateX(0.5rem);
      }
    }
  }
}
