@use "../../../sass/abstracts/" as *;

.container {
  margin: 3rem 0;

  & img {
    border-radius: 5px;
  }
}

.imageCourtesy {
  font-size: 0.75rem;

  & a {
    color: $color-white;
  }
}

.imageCaption {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
}
