@use "../../../sass/abstracts/" as *;

.flexWrapper {
  display: none;
  justify-content: space-between;
  width: 100%;
  color: $color-white;

  @include mq("medium") {
    display: flex;
  }
}

.nameFlex {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & * {
    font-size: 1.125rem;
  }
}

.image {
  width: 2.5rem;
  height: 2.5rem;

  & img {
    border-radius: 100%;
  }
}

.nav {
  margin: auto 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;

  & a {
    color: $color-white;

    &:hover {
      color: $color-mercury;
      text-decoration: underline;
    }
  }
}

.ctaWrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.phoneIcon {
  align-items: center;
  display: flex;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    color: $color-white;
  }

  @media (hover) {
    &:hover {
      animation: rotate 600ms ease-in-out;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      33% {
        transform: rotate(-20deg);
      }

      66% {
        transform: rotate(20deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }
}
