@use "../../../sass/abstracts/" as *;

.flexWrapper {
  display: none;
  justify-content: space-between;
  width: 100%;
  color: $color-white;

  @include mq("medium") {
    display: flex;
  }
}

.nameFlex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 2.75rem;
  height: 2.75rem;

  & img {
    border-radius: 100%;
  }
}

.nav {
  margin: auto 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;

  & a {
    color: $color-white;

    &:hover {
      color: $color-mercury;
      text-decoration: underline;
    }
  }
}

.ctaWrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.phoneIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: $color-white;
  align-items: center;
  display: flex;

  &:hover {
    animation: rotate 600ms ease-in-out;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }

    33% {
      rotate: -20deg;
    }

    66% {
      rotate: 20deg;
    }

    100% {
      rotate: 0deg;
    }
  }
}
