@use "../abstracts/" as *;

.section {
  margin-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  @include mq("medium") {
    margin-top: 5rem;

    flex-direction: row;
  }
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  border-bottom: 1px solid $color-mine-shaft;
  padding-bottom: 3rem;

  @include mq("medium") {
    flex-direction: row;
  }
}

.textWrapper {
  max-width: 40rem;
}

.description {
  margin-top: 2rem;
}

.formContainer {
  margin: 2rem auto 4rem auto;
  max-width: 50rem;

  @include mq("medium") {
    margin: 3rem auto 8rem auto;
  }
}
