@use "../../../sass/abstracts/" as *;

.card {
  background-color: $color-mine-shaft;
  border-radius: 10px;
  min-width: max-content;
  transition: all 200ms ease-out;

  @media (hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.flexWrapper {
  display: flex;
  padding: 1.25rem 2.5rem;
  gap: 0.75rem;
}

.methodNo {
  font-weight: 300;
  color: $color-dusty-gray;
}

.text {
  color: $color-white;
  font-size: 1rem;
}
