@use "../../sass/abstracts/" as *;

.section {
  padding: 5rem 0;
  background-color: $color-white;

  @include mq("large") {
    padding: 7rem 0;
  }
}

.flexWrapper {
  @include mq("medium") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  color: $color-shark;
}

.description {
  color: $color-shark;
  margin-bottom: 2rem;
  max-width: 40rem;
}

.primaryButton {
  width: max-content;
}

.image {
  margin: 2rem auto 0 auto;
  width: 15rem;

  @include mq("medium") {
    margin: 0;
  }

  @include mq("large") {
    width: 18rem;
  }
}

.socialIcons {
  display: none;
  gap: 1.25rem;
  align-items: center;
  margin: 0.5rem 0 0 0.75rem;

  & a {
    transition: 200ms;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      position: relative;
      transform: translateY(-0.2rem);
    }
  }

  @include mq("medium") {
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
  }
}
