@use "../../sass/abstracts/" as *;

.section {
  margin: 5rem auto;

  @include mq("large") {
    margin: 7rem auto;
  }
}

.processCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;

  @include mq("large") {
    margin-top: 5rem;
    gap: 5rem;
  }
}

.processCard {
  padding: 0 1rem 1rem 1rem;
  background-color: $color-mine-shaft;
  border-radius: 10px;
  max-width: 35rem;

  @include mq("medium") {
    max-width: 45rem;
    padding: 0 2rem 2rem 2rem;
  }
}

.processCardContainer:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.processNumber {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-bottom: -2rem;
  top: -50%;
  left: 0;
  transform: translateY(-50%);
}

.processTitle {
  margin-bottom: 0.75rem;
  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  @include mq("medium") {
    & h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}

.textWrapper {
  padding: 0 1.5rem;
}
