@use "../../sass/abstracts/" as *;

.section {
  margin: 5rem auto;
  overflow: hidden;

  @include mq("large") {
    margin: 7rem auto;
  }
}

.processCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;

  @include mq("large") {
    margin-top: 5rem;
    gap: 5rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
