@use "../../sass/abstracts/" as *;

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;

  @include mq("large") {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.processCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  list-style: none;
  padding: 0;

  @include mq("large") {
    margin-top: 5rem;
    gap: 5rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
