@use "../../sass/abstracts/" as *;

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include mq("large") {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;

  @include mq("large") {
    flex-direction: row;
    gap: 5rem;
  }
}

.description {
  color: $color-white;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  overflow: hidden;

  @include mq("large") {
    padding: 0 0.5rem;
  }
}

.imageFlex {
  display: flex;
  justify-content: flex-end;
}

.image {
  max-width: 40rem;
}
