@use "../../sass/abstracts/" as *;

.section {
  margin: 5rem auto;

  @include mq("large") {
    margin: 7rem auto;
  }
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;

  @include mq("large") {
    flex-direction: row;
    gap: 5rem;
  }
}

.description {
  color: $color-white;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.serviceItem {
  padding-bottom: 2rem;
  color: $color-white;

  &.border {
    border-bottom: 1px solid $color-mine-shaft;
  }

  @include mq("large") {
    display: flex;
    gap: 1rem;
  }
}

.serviceName {
  margin-bottom: 0.5rem;

  & h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.serviceIcon {
  background-color: $color-medium-carmine;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
  margin-bottom: 0.75rem;

  & img {
    min-width: 1rem;
    min-height: 1rem;
  }

  @include mq("large") {
    margin-top: 0.5rem;
  }
}

.image {
  display: flex;
  justify-content: flex-end;

  & img {
    max-width: 40rem;
    width: 100%;
  }
}
