@use "../../../sass/abstracts/" as *;

.processCard {
  padding: 0 1rem 2rem 1rem;
  background-color: $color-mine-shaft;
  border-radius: 10px;
  max-width: 35rem;

  @include mq("medium") {
    max-width: 45rem;
    padding: 0 2rem 2rem 2rem;
  }
}

.processCardContainer:nth-child(odd) {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    background-image: url("../../assets/illustrations/dotted-background.svg");
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    content: "";
    z-index: -1;
    bottom: -7.5rem;
    left: -2.5rem;
    display: none;

    @include mq("large") {
      display: block;
    }
  }

  & .processCard {
    transition: 500ms ease-in all;
    position: relative;
    opacity: 0;
    transform: translateX(-2.5rem);

    display: inline-block;

    &.animate {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.processCardContainer:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    background-image: url("../../assets/illustrations/dotted-background.svg");
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    content: "";
    z-index: -1;
    bottom: -7.5rem;
    right: -7.5rem;
    display: none;

    @include mq("large") {
      display: block;
    }
  }

  & .processCard {
    transition: 500ms ease-in all;
    position: relative;
    opacity: 0;
    transform: translateX(2.5rem);
    display: inline-block;

    &.animate {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.processNumber {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-bottom: -2rem;
  top: -50%;
  left: 0;
  transform: translateY(-50%);
}

.processTitle {
  margin-bottom: 0.75rem;
  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  @include mq("medium") {
    & h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}

.textWrapper {
  padding: 0 1rem;

  @include mq("small") {
    padding: 0 1.5rem;
  }
}
